@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
  background-color: rgb(175, 204, 255);
}

h1{
  font-family: "Libre Baskerville";
  font-size: 5rem;
  text-align: center;
  color: rgb(0, 49, 128);
  text-shadow: 2px 4px 1px #ffffff;
}

li{
  font-family: "Josefin Sans";
  color: rgb(0, 115, 255);
  margin: 0.5rem ;
}

.img1{
  display: block;
  height: auto;
  width: 30rem;
  margin: 2rem;
}

h2{
  text-align: center;
  font-family: "Josefin Sans";
}